* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font: bold 20px Arial;
}

h2 {
	font: bold 14px Arial;
}

header, section, footer, aside, nav, article, hgroup {
	display: block;
}

body {
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}

#bigWrapper {
	max-width: 1000px;
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}

#topHeader {
	background: yellow;
	border: 3px solid black;
	padding: 20px;
}

#topMenu {
	border: red;
	background: green;
	color: white;
}

#topMenu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}

#flexDiv {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#mainSection {
	border: 1px solid yellow;
	-webkit-box-flex: 1;
	margin: 20px;
	padding: 20px;
}

#sideNews {
	border: 1px solid red;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: purple;
}
body {
	text-align: center;
}

#title {
	display: block;
	width: 200px;
	
	padding: 15px;
	text-align: center;
	margin: 50px;
	border: 1px solid purple;
	background: -webkit-radial-gradient(center, ellipse, green 0%, gold 100%);
	outline: 7px solid purple;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: rgb(110, 110, 110, .6) 10px 8px 8px;
	-webkit-transition:-webkit-transform .5s;
}
#button1 {
	display: block;
	width: 40px;
	margin: 10px auto;
	padding: 15px;
	background: -webkit-radial-gradient(center, ellipse, gold 0%, blue 100%);
	-webkit-border-radius: 15px;
	-webkit-box-shadow: rgb(110, 110, 110, .6) 10px 8px 8px;
	-webkit-transition: -webkit-transform .5s;
}
#button2 {
	display: block;
	width: 40px;
	margin: 10px auto;
	padding: 15px;
	background: -webkit-radial-gradient(center, ellipse, gold 0%, blue 100%);
	-webkit-border-radius: 15px;
	-webkit-box-shadow: rgb(110, 110, 110, .6) 10px 8px 8px;
	-webkit-transition: -webkit-transform .5s;
}
#button3 {
	display: block;
	width: 40px;
	margin: 10px auto;
	padding: 15px;
	background: -webkit-radial-gradient(center, ellipse, gold 0%, blue 100%);
	-webkit-border-radius: 15px;
	-webkit-box-shadow: rgb(110, 110, 110, .6) 10px 8px 8px;
	-webkit-transition: -webkit-transform .5s;
}

#sub-title {
	display: block;
	width: 100px;
	margin: 150px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid orange;
	background: -webkit-radial-gradient(center, ellipse, purple 0%, gold 100%);
	outline: 7px solid orange;
	-webkit-border-radius: 15px;
	-webkit-box-shadow: rgb(110, 110, 110, .6) 10px 8px 8px;
	-webkit-transition: -webkit-transform .5s;
}

#button1:hover {
	-webkit-transform: scale(2,2);
}

#button2:hover {
	-webkit-transform: scale(2,2);
}

#button3:hover {
	-webkit-transform: scale(2,2);
}

#title:hover {
	-webkit-transform: rotate(45deg);
}

#sub-title:hover {
	-webkit-transform: rotate(-45deg);
}

#text {
	font: bold 20px Century Gothic;
	text-shadow: rgb(50, 50, 50) 1px 1px 3px;
}

#text2 {
	font: bold 10px Century Gothic;
}